Repository florencialecha/digital-booking-software-backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: BuildAndDeployBack, BuildAndDeployFront

.gitlab-ci.yml:

stages:
  - BuildAndDeployFront
  - BuildAndDeployBack

BuildAndDeployBack:
  stage: BuildAndDeployBack
  script:
    - cd back
    - sudo systemctl stop ApiBack.service
    - if [ -d ./back_jar ]; then sudo rm -rf ./back_jar; fi

    
    - sudo mvn clean package
    - sudo mkdir -p back_jar

    - sudo cp target/back-0.0.1-SNAPSHOT.jar back_jar/back.jar
    - sudo chmod ugo+rwx back_jar/back.jar
    - sudo chmod 777 ./back_jar
    - sudo systemctl restart ApiBack.service
    - if [ -d "target/" ]; then sudo rm -rf target/; fi
    
    
    
  rules:
    - changes:
        - back/**/*
    - if: '$CI_COMMIT_BRANCH == "development"'

  tags:
    - back

BuildAndDeployFront:
  stage: BuildAndDeployFront
  script:

    - cd frontend/PI_G6
    - sudo rm -rf node_modules
    - sudo rm -rf dist
    - sudo npm ci
    - sudo npm run build
    - sudo aws s3 sync dist/ s3://digital-booking-6 --delete
    
  rules:
    - changes:
        - frontend/**/*
    - if: '$CI_COMMIT_BRANCH == "development"'

  tags:
    - front

probando solo build del front
  frontend/PI_G6/src/components/Home/Suggested.jsx
Due: BuildAndDeployFront

actualio el frontend
  frontend/PI_G6/src/components/Home/Suggested.jsx
  frontend/PI_G6/src/components/Home/Suggested.module.css
  frontend/PI_G6/src/hooks/useComponentVisible.jsx
Due: BuildAndDeployFront

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add new file
  back/testingIntegracionContinua
Due: BuildAndDeployBack

Se actualiza json de productos para que coincida con la api
  frontend/PI_G6/public/apiProducts.json
  frontend/PI_G6/src/components/Home/CardSuggested/CardSuggested.jsx
  frontend/PI_G6/src/components/Home/Suggested.jsx
  frontend/PI_G6/src/components/Home/searcher/DatePick.jsx
  frontend/PI_G6/src/components/Home/searcher/SelectorTarget.jsx
  frontend/PI_G6/src/temp/apiCategories.json
  frontend/PI_G6/src/temp/apiProducts.json
  frontend/PI_G6/src/temp/apiSuggested.json
  frontend/PI_G6/src/temp/citiList.json
  frontend/PI_G6/src/temp/citiState.json
Due: BuildAndDeployFront

Se eliminan ciudades repetidas en lista desplegable
  frontend/PI_G6/src/components/Home/CardSuggested/CardSuggested.jsx
  frontend/PI_G6/src/components/Home/searcher/SelectorTarget.jsx
Due: BuildAndDeployFront

se actualiza el useEffect en el llamado a la api de producto por fecha y ciudad, para que cambie el mensaje de recomendaciones en caso de que no se encuentren resultados.
  frontend/PI_G6/src/components/Home/Suggested.jsx
Due: BuildAndDeployFront

Añadir loggers de éxito en Feature y Country
  back/src/main/java/com/digitalbooking/back/management/features/CreateFeaturePostController.java
  back/src/main/java/com/digitalbooking/back/management/locations/CreateCountryWithStatesAndCitiesPostController.java
Due: BuildAndDeployBack

Configurar crear usario
  back/back.iml
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/management/configurations/JWTAuthenticationFilter.java
  back/src/main/java/com/digitalbooking/back/management/configurations/JWTUtil.java
  back/src/main/java/com/digitalbooking/back/management/configurations/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserService.java
  back/src/main/java/com/digitalbooking/back/management/users/User.java
  back/src/main/java/com/digitalbooking/back/management/users/UserToCreateDTO.java
  back/src/main/resources/application.properties
  back/target/classes/application.properties
  back/target/classes/com/digitalbooking/back/BackendApplication.class
Due: BuildAndDeployBack

Arreglar bug find products by city and dates: set category
  back/back.iml
  back/src/main/java/com/digitalbooking/back/bookStayApp/products/controller/FindProductsByCityAndDatesGetController.java
Due: BuildAndDeployBack

No funciona
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/configurations/JWTAuthenticationFilter.java
  back/src/main/java/com/digitalbooking/back/configurations/JWTUtil.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserService.java
  back/src/main/java/com/digitalbooking/back/management/users/User.java
Due: BuildAndDeployBack

se realizan cambios en el useEffect para que cambie el mensaje de recomendaciones
  frontend/PI_G6/src/components/Home/CardCategory/CardCategory.jsx
  frontend/PI_G6/src/components/Home/Suggested.jsx
  frontend/PI_G6/src/components/Home/Suggested.module.css
  frontend/PI_G6/src/components/Home/searcher/Searcher.css
  frontend/PI_G6/src/components/reserve/Reserve.module.css
  frontend/PI_G6/src/utils/globalContext.jsx
Due: BuildAndDeployFront

Arreglar Find Products By Category Id Get Controller: set categoyr
  back/src/main/java/com/digitalbooking/back/bookStayApp/products/controller/FindProductsByCategoryIdGetController.java
Due: BuildAndDeployBack

pusheo cambio en el estilo del suggest para la version movile
  frontend/PI_G6/src/components/Home/Suggested.module.css
Due: BuildAndDeployFront

actualizo estilos de la version mobile, y cambio el mensaje para cuando no encuentra resultados para una ciudad
  frontend/PI_G6/src/components/Home/Suggested.jsx
  frontend/PI_G6/src/components/Home/searcher/DatePick.module.css
  frontend/PI_G6/src/components/Home/searcher/Searcher.css
Due: BuildAndDeployFront

arreglo error en las imagenes de la galeria
  frontend/PI_G6/src/components/details/Gallery/Gallery.jsx
Due: BuildAndDeployFront

Se modifica nombre de variables para que se muestren fechas no disponibles en calendario
  frontend/PI_G6/src/components/details/Calendar/Calendar.jsx
  frontend/PI_G6/src/components/details/ProductDetails.jsx
Due: BuildAndDeployFront

Se modifica formato de fechas no disponibles para que se muestren de forma correcta en el calendario
  frontend/PI_G6/src/components/details/Calendar/Calendar.jsx
  frontend/PI_G6/src/components/details/Gallery/Gallery.jsx
Due: BuildAndDeployFront

Limpiar código deprecado del pom y agregar dependencia spring security 6
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/bookStayApp/reserves/CreateReservePostController.java
  back/src/main/java/com/digitalbooking/back/bookStayApp/reserves/Reserve.java
  back/src/main/java/com/digitalbooking/back/configurations/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/role/CreateRolePostController.java
  back/src/main/java/com/digitalbooking/back/management/role/CreateRoleService.java
  back/src/main/java/com/digitalbooking/back/management/role/Role.java
  back/src/main/java/com/digitalbooking/back/management/role/RoleRepository.java
  back/src/main/java/com/digitalbooking/back/management/role/RoleToCreateDTO.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserService.java
  back/src/main/java/com/digitalbooking/back/management/users/FindUserByUsernameGetController.java
  back/src/main/java/com/digitalbooking/back/management/users/User.java
  back/src/main/java/com/digitalbooking/back/management/users/UserRepository.java
  back/src/main/java/com/digitalbooking/back/management/users/UserToCreateDTO.java
Due: BuildAndDeployBack

Nadie entra sin autorización
  back/src/main/java/com/digitalbooking/back/config/WebSecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/authority/Authority.java
  back/src/main/java/com/digitalbooking/back/management/authority/AuthorityRepository.java
  back/src/main/java/com/digitalbooking/back/management/authority/CreateRolePostController.java
  back/src/main/java/com/digitalbooking/back/management/authority/CreateRoleService.java
  back/src/main/java/com/digitalbooking/back/management/authority/RoleToCreateDTO.java
  back/src/main/java/com/digitalbooking/back/management/role/Role.java
  back/src/main/java/com/digitalbooking/back/management/role/RoleRepository.java
  back/src/main/java/com/digitalbooking/back/management/users/SecurityUserDetailsService.java
  back/src/main/java/com/digitalbooking/back/management/users/User.java
  back/src/main/java/com/digitalbooking/back/management/users/UserRepository.java
  back/src/main/java/com/digitalbooking/back/revisar/JWTAuthenticationFilter.java
  back/src/main/java/com/digitalbooking/back/revisar/JWTUtil.java
  back/src/main/java/com/digitalbooking/back/revisar/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/security/SecurityAuthority.java
  back/src/main/java/com/digitalbooking/back/security/SecurityUser.java
  back/src/main/java/com/digitalbooking/back/utils/AuthorityName.java
  back/src/main/java/com/digitalbooking/back/utils/Runner.java
Due: BuildAndDeployBack

Seguridad terminada, lista para probar
  back/src/main/java/com/digitalbooking/back/config/WebSecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/authority/AuthorityRepository.java
  back/src/main/java/com/digitalbooking/back/management/users/SecurityUserDetailsService.java
  back/src/main/java/com/digitalbooking/back/management/users/UserRepository.java
  back/src/main/java/com/digitalbooking/back/security/SecurityAuthority.java
  back/src/main/java/com/digitalbooking/back/utils/AuthorityName.java
  back/src/main/java/com/digitalbooking/back/utils/Runner.java
Due: BuildAndDeployBack

Agregar filter chain
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/bookStayApp/products/controller/FindProductsByCityGetController.java
  back/src/main/java/com/digitalbooking/back/config/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/config/WebSecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserService.java
  back/src/main/java/com/digitalbooking/back/management/users/FindUserByUsernameGetController.java
  back/src/main/java/com/digitalbooking/back/management/users/SecurityUserDetailsService.java
  back/src/main/java/com/digitalbooking/back/management/users/UserRepository.java
  back/src/main/java/com/digitalbooking/back/management/users/UserToCreateDTO.java
  back/src/main/java/com/digitalbooking/back/revisar/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/utils/AuthorityName.java
  back/src/main/java/com/digitalbooking/back/utils/Runner.java
Due: BuildAndDeployBack

Seguridad funcionando
  back/src/main/java/com/digitalbooking/back/bookStayApp/reserves/CreateReservePostController.java
  back/src/main/java/com/digitalbooking/back/bookStayApp/reserves/Reserve.java
  back/src/main/java/com/digitalbooking/back/config/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/users/CreateUserService.java
Due: BuildAndDeployBack

Botón para eliminar rango de fechas en calendario, mejora de estilos
  frontend/PI_G6/src/components/Home/searcher/DatePick.jsx
  frontend/PI_G6/src/components/Home/searcher/DatePick.module.css
  frontend/PI_G6/src/components/Home/searcher/Searcher.css
  frontend/PI_G6/src/components/details/Calendar/Calendar.jsx
  frontend/PI_G6/src/components/details/ProductDetails.module.css
Due: BuildAndDeployFront

Correción de estilos en date pick y features responsive
  frontend/PI_G6/src/components/Home/searcher/DatePick.module.css
  frontend/PI_G6/src/components/details/Calendar/Calendar.jsx
  frontend/PI_G6/src/components/details/ProductDetails.module.css
Due: BuildAndDeployFront

Seguridad funcionando con rutas arregladas
  back/src/main/java/com/digitalbooking/back/config/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/users/LoginUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/SignUpUserPostController.java
Due: BuildAndDeployBack

Pendiente agregar configuraciones en el security config par ausar jwt
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/config/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/users/LoginUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/SignUpUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/UserService.java
  back/src/main/java/com/digitalbooking/back/revisar/JWTAuthenticationFilter.java
  back/src/main/java/com/digitalbooking/back/revisar/JWTUtil.java
  back/src/main/java/com/digitalbooking/back/security/AuthenticationRequest.java
  back/src/main/java/com/digitalbooking/back/security/CustomAuthentication.java
  back/src/main/java/com/digitalbooking/back/security/JwtAuthenticationFilter.java
  back/src/main/java/com/digitalbooking/back/utils/JwtUtil.java
Due: BuildAndDeployBack

Modifiqué comentarios del pom
  back/pom.xml
Due: BuildAndDeployBack

Mal pero no tan mal
  back/src/main/java/com/digitalbooking/back/config/SecurityConfig.java
  back/src/main/resources/application.properties
Due: BuildAndDeployBack

Pom y properties revisados y funcionando
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/config/SecurityConfig.java
  back/src/main/java/com/digitalbooking/back/management/authority/CreateRolePostController.java
  back/src/main/java/com/digitalbooking/back/management/authority/CreateRoleService.java
  back/src/main/java/com/digitalbooking/back/management/authority/RoleToCreateDTO.java
  back/src/main/java/com/digitalbooking/back/management/users/SignUpUserPostController.java
  back/src/main/java/com/digitalbooking/back/management/users/UserService.java
  back/src/main/resources/application.properties
Due: BuildAndDeployBack
