Repository florencialecha/digital-booking-software-backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: BuildAndDeployBack, BuildAndDeployFront

.gitlab-ci.yml:

stages:
  - BuildAndDeployFront
  - BuildAndDeployBack

BuildAndDeployBack:
  stage: BuildAndDeployBack
  script:
    - cd back
    - sudo systemctl stop ApiBack.service
    - if [ -d ./back_jar ]; then sudo rm -rf ./back_jar; fi

    
    - sudo mvn clean package
    - sudo mkdir -p back_jar

    - sudo cp target/back-0.0.1-SNAPSHOT.jar back_jar/back.jar
    - sudo chmod ugo+rwx back_jar/back.jar
    - sudo chmod 777 ./back_jar
    - sudo systemctl restart ApiBack.service
    - if [ -d "target/" ]; then sudo rm -rf target/; fi
    
    
    
  rules:
    - changes:
        - back/**/*
    - if: '$CI_COMMIT_BRANCH == "development"'

  tags:
    - back

BuildAndDeployFront:
  stage: BuildAndDeployFront
  script:

    - cd frontend/PI_G6
    - sudo rm -rf node_modules
    - sudo rm -rf dist
    - sudo npm ci
    - sudo npm run build
    - sudo aws s3 sync dist/ s3://digital-booking-6 --delete
    
  rules:
    - changes:
        - frontend/**/*
    - if: '$CI_COMMIT_BRANCH == "development"'

  tags:
    - front

se agrega la adminPage
  frontend/PI_G6/public/apiCountrys.json
  frontend/PI_G6/public/apiFeatures.json
  frontend/PI_G6/src/app/App.jsx
  frontend/PI_G6/src/components/Home/CardSuggested/CardSuggested.jsx
  frontend/PI_G6/src/components/Home/searcher/Searcher.jsx
  frontend/PI_G6/src/components/Home/searcher/Searcher.module.css
  frontend/PI_G6/src/components/Home/searcher/SelectorTarget.jsx
  frontend/PI_G6/src/components/administration/AdminPage.jsx
  frontend/PI_G6/src/components/administration/AdminPage.module.css
  frontend/PI_G6/src/components/administration/adminPageComponents/FeatureSelector.jsx
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductInputImages.jsx
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductPoliciesDetails.jsx
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductoInfo.jsx
  frontend/PI_G6/src/components/details/ProductDetails.module.css
  frontend/PI_G6/src/components/details/ProductFeatures/Features.jsx
  frontend/PI_G6/src/components/details/ProductHeader/ProductHeader.jsx
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/header/header.css
  frontend/PI_G6/src/components/reserve/Reserve.module.css
Due: BuildAndDeployFront

arreglo error en el selectorTarget
  frontend/PI_G6/src/components/Home/searcher/Searcher.jsx
Due: BuildAndDeployFront

se pushea el merge, junto con correcciones en estilos
  frontend/PI_G6/src/components/administration/AdminPage.module.css
  frontend/PI_G6/src/components/header/header.css
Due: BuildAndDeployFront

actualizo al llamado de FeatureSelector
  frontend/PI_G6/src/components/administration/AdminPage.jsx
Due: BuildAndDeployFront

Espacio en blanco probar bacj
  back/pom.xml
  back/src/main/java/com/digitalbooking/back/bookStayApp/address/dto/AddressToCreateDTO.java
Due: BuildAndDeployBack

actualizo el padding del calendar
  frontend/PI_G6/src/components/Home/searcher/Searcher.module.css
Due: BuildAndDeployFront

Modificar respuesta del login
  back/src/main/java/com/digitalbooking/back/management/security/auth/AuthenticationResponse.java
  back/src/main/java/com/digitalbooking/back/management/security/auth/AuthenticationService.java
Due: BuildAndDeployBack

Commit de prueba
  back/src/main/java/com/digitalbooking/back/bookStayApp/address/dto/AddressToCreateDTO.java
Due: BuildAndDeployBack

actualizamos calendario
  frontend/PI_G6/src/components/Home/searcher/Searcher.module.css
Due: BuildAndDeployFront

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

prueba
  frontend/PI_G6/src/components/administration/AdminPage.jsx
Due: BuildAndDeployFront

actualizo el package.json
  frontend/PI_G6/package.json
  frontend/PI_G6/src/components/administration/AdminPage.jsx
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductInputImages.jsx
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductPoliciesDetails.jsx
Due: BuildAndDeployFront

prueba
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductInputImages.jsx
Due: BuildAndDeployFront

Testeando ci cd
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

Testeando CiCd
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

Update TestingCiCd.txt
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

Update testingIntegracionContinua
  back/testingIntegracionContinua
Due: BuildAndDeployBack

pusheo el post del producto
  frontend/PI_G6/src/components/administration/AdminPage.jsx
  frontend/PI_G6/src/components/administration/AdminPage.module.css
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductInputImages.jsx
  frontend/PI_G6/src/components/forms/LoginForm.jsx
  frontend/PI_G6/src/utils/apiEndpoints.js
Due: BuildAndDeployFront

basta por favo
  frontend/PI_G6/src/components/forms/LoginForm.jsx
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/reserve/Reserve.jsx
  frontend/PI_G6/src/components/reserve/UserInfo.jsx
Due: BuildAndDeployFront

probando
  frontend/PI_G6/src/components/Home/searcher/SelectorTarget.jsx
  frontend/PI_G6/src/components/administration/AdminPage.jsx
Due: BuildAndDeployFront

Probando
  back/src/main/java/com/digitalbooking/back/management/security/auth/AuthenticationController.java
Due: BuildAndDeployBack

pusho rama para probar merge
  frontend/PI_G6/src/components/header/Header.jsx
Due: BuildAndDeployFront

intento 23123123
  frontend/PI_G6/src/components/administration/AdminPage.jsx
Due: BuildAndDeployFront

agregar excepciones crear producto
  back/src/main/java/com/digitalbooking/back/bookStayApp/products/controller/CreateProductPostController.java
  back/src/main/java/com/digitalbooking/back/management/security/auth/AuthenticationController.java
Due: BuildAndDeployBack

intento daleee
  frontend/PI_G6/src/components/administration/AdminPage.jsx
Due: BuildAndDeployFront
