Repository florencialecha/digital-booking-software-backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: BuildAndDeployBack, BuildAndDeployFront

BuildAndDeployBack:
  stage: build
  script:
  - cd back
  - sudo systemctl stop ApiBack.service
  - if [ -d ./back_jar ]; then sudo rm -rf ./back_jar; fi
  - sudo mvn clean package
  - sudo mkdir -p back_jar
  - sudo cp target/back-0.0.1-SNAPSHOT.jar back_jar/back.jar
  - sudo chmod ugo+rwx back_jar/back.jar
  ...

BuildAndDeployFront:
  stage: build
  script:
  - cd frontend/PI_G6
  - sudo chmod -R 777 node_modules/
  - sudo chmod ugo+rwx node_modules/
  - sudo rm -rf node_modules
  - sudo rm -rf dist
  - sudo npm ci
  - sudo npm run build
  - sudo aws s3 sync dist/ s3://digital-booking-6 --delete
  tags:
  - front

Se modifica post de reservas para que contenga la hora seleccionada
  frontend/PI_G6/package-lock.json
  frontend/PI_G6/src/components/Home/CardCategory/CardCategory.jsx
  frontend/PI_G6/src/components/Home/searcher/DatePick.module.css
  frontend/PI_G6/src/components/reserve/ArrivalInfo.jsx
  frontend/PI_G6/src/components/reserve/HourSelector.jsx
  frontend/PI_G6/src/components/reserve/Reserve.jsx
Due: BuildAndDeployFront

Modificar cros
  back/src/main/java/com/digitalbooking/back/bookStayApp/products/controller/CreateProductPostController.java
  back/src/main/java/com/digitalbooking/back/bookStayApp/products/service/CreateProductService.java
  back/src/main/java/com/digitalbooking/back/management/security/config/SecurityConfig.java
Due: BuildAndDeployBack

Cambio en formato de fechas en componente hour selector
  frontend/PI_G6/src/components/reserve/HourSelector.jsx
  frontend/PI_G6/src/components/reserve/Reserve.jsx
Due: BuildAndDeployFront

Se agrega mensaje de error al iniciar sesión sin éxito
  frontend/PI_G6/src/components/forms/LoginForm.jsx
  frontend/PI_G6/src/components/forms/RegisterForm.jsx
  frontend/PI_G6/src/components/forms/form.css
Due: BuildAndDeployFront

Arreglar crear producto
  back/src/main/java/com/digitalbooking/back/management/security/config/JwtService.java
  frontend/PI_G6/src/components/administration/AdminPage.jsx
Due: BuildAndDeployBack, BuildAndDeployFront

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

modificaciones de indentaciones
  frontend/PI_G6/src/components/administration/AdminPage.jsx
  frontend/PI_G6/src/components/administration/AdminPage.module.css
  frontend/PI_G6/src/components/reserve/Reserve.jsx
  frontend/PI_G6/src/components/reserve/ReserveAlert.jsx
Due: BuildAndDeployFront

redirigimos al hacer los post de productos y de reservas
  frontend/PI_G6/src/components/administration/AdminPage.jsx
  frontend/PI_G6/src/components/administration/AdminPage.module.css
  frontend/PI_G6/src/components/reserve/Reserve.jsx
Due: BuildAndDeployFront

Se agrega componente reservas,estilos del header
  frontend/PI_G6/src/app/App.jsx
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/header/header.css
  frontend/PI_G6/src/components/myReserves/MyReserves.css
  frontend/PI_G6/src/components/myReserves/MyReserves.jsx
  frontend/PI_G6/src/components/myReserves/ReserveCard.css
  frontend/PI_G6/src/components/myReserves/ReserveCard.jsx
  frontend/PI_G6/src/utils/apiEndpoints.js
Due: BuildAndDeployFront

agregamos el dist para hacer build manual
  frontend/PI_G6/dist/apiCategories.json
  frontend/PI_G6/dist/apiCountrys.json
  frontend/PI_G6/dist/apiFeatures.json
  frontend/PI_G6/dist/apiProducts.json
  frontend/PI_G6/dist/assets/index-b34dc11d.css
  frontend/PI_G6/dist/assets/index-b541c530.js
  frontend/PI_G6/dist/index.html
  frontend/PI_G6/dist/productID.json
Due: BuildAndDeployFront

agrego el dist
  frontend/PI_G6/dist/assets/index-b34dc11d.css
  frontend/PI_G6/dist/assets/index-b541c530.js
  frontend/PI_G6/dist/assets/index-c3472da9.css
  frontend/PI_G6/dist/assets/index-d6ed168d.js
  frontend/PI_G6/dist/index.html
  frontend/PI_G6/src/components/reserve/ReserveAlert.jsx
Due: BuildAndDeployFront

se mejoran los estilos y se pasan los componentes a css modules
  frontend/PI_G6/src/app/App.jsx
  frontend/PI_G6/src/components/Home/CardCategory/CardCategory.jsx
  frontend/PI_G6/src/components/Home/CardCategory/CardCategory.module.css
  frontend/PI_G6/src/components/Home/CardSuggested/CardSuggested.jsx
  frontend/PI_G6/src/components/Home/Carousel.jsx
  frontend/PI_G6/src/components/Home/Suggested.jsx
  frontend/PI_G6/src/components/Home/Suggested.module.css
  frontend/PI_G6/src/components/Home/searcher/Searcher.module.css
  frontend/PI_G6/src/components/Home/searcher/SelectorTarget.jsx
  frontend/PI_G6/src/components/administration/AdminPage.jsx
  frontend/PI_G6/src/components/administration/AdminPage.module.css
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductPoliciesDetails.jsx
  frontend/PI_G6/src/components/administration/adminPageComponents/ProductoInfo.jsx
  frontend/PI_G6/src/components/details/ProductFeatures/Features.jsx
  frontend/PI_G6/src/components/footer/Footer.jsx
  frontend/PI_G6/src/components/footer/Footer.module.css
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/header/Header.module.css
  frontend/PI_G6/src/components/myReserves/MyReserves.jsx
  frontend/PI_G6/src/components/myReserves/MyReserves.module.css
  frontend/PI_G6/src/components/myReserves/ReserveCard.css
  frontend/PI_G6/src/components/myReserves/ReserveCard.jsx
  frontend/PI_G6/src/components/socials/Social.jsx
  frontend/PI_G6/src/components/socials/Social.module.css
  frontend/PI_G6/src/routes/NotFound.jsx
  frontend/PI_G6/src/routes/NotFound.module.css
Due: BuildAndDeployFront

termino de modificar estilos del icono de favoritos
  frontend/PI_G6/src/components/favorites/Favorites.jsx
  frontend/PI_G6/src/components/favorites/Favorites.module.css
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/header/Header.module.css
Due: BuildAndDeployFront

hacemos el llamado a la api de misReservas
  frontend/PI_G6/src/components/myReserves/MyReserves.jsx
  frontend/PI_G6/src/components/myReserves/MyReserves.module.css
  frontend/PI_G6/src/components/myReserves/ReserveCard.jsx
Due: BuildAndDeployFront

arreglo bug de visualización en misFavoritos para la version mobile
  frontend/PI_G6/src/components/favorites/Favorites.module.css
  frontend/PI_G6/src/components/myReserves/MyReserves.module.css
Due: BuildAndDeployFront

push final
  frontend/PI_G6/dist/assets/index-3c1bab87.js
  frontend/PI_G6/dist/assets/index-436c9e83.css
  frontend/PI_G6/dist/assets/index-c3472da9.css
  frontend/PI_G6/dist/assets/index-d6ed168d.js
  frontend/PI_G6/dist/index.html
Due: BuildAndDeployFront

Se modifican estilos de menu despegable favoritos, se agrega ruta a favoritos versión mobile
  frontend/PI_G6/package-lock.json
  frontend/PI_G6/src/components/favorites/Favorites.module.css
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/header/Header.module.css
Due: BuildAndDeployFront

Agrego dist
  frontend/PI_G6/dist/assets/index-1db6d66e.js
  frontend/PI_G6/dist/assets/index-3c1bab87.js
  frontend/PI_G6/dist/assets/index-436c9e83.css
  frontend/PI_G6/dist/assets/index-930f2f05.css
  frontend/PI_G6/dist/index.html
Due: BuildAndDeployFront

Correción de estilos en header responsive y error de categoría undefined en página de reservas
  frontend/PI_G6/src/components/header/Header.jsx
  frontend/PI_G6/src/components/header/Header.module.css
  frontend/PI_G6/src/components/reserve/Reserve.jsx
Due: BuildAndDeployFront

fix bug en el selector de ciudades
  frontend/PI_G6/src/components/Home/searcher/Searcher.module.css
Due: BuildAndDeployFront

push del dist
  frontend/PI_G6/dist/assets/index-0f6b11ee.js
  frontend/PI_G6/dist/assets/index-1db6d66e.js
  frontend/PI_G6/dist/assets/index-630e39bd.css
  frontend/PI_G6/dist/assets/index-930f2f05.css
  frontend/PI_G6/dist/index.html
Due: BuildAndDeployFront

creo pagina de personal
  frontend/PI_G6/src/app/App.jsx
  frontend/PI_G6/src/components/aboutUs/AboutUs.jsx
  frontend/PI_G6/src/components/aboutUs/AboutUs.module.css
  frontend/PI_G6/src/components/footer/Footer.jsx
Due: BuildAndDeployFront

pusheo el dist
  frontend/PI_G6/dist/assets/index-0f6b11ee.js
  frontend/PI_G6/dist/assets/index-2ff9db34.js
  frontend/PI_G6/dist/assets/index-630e39bd.css
  frontend/PI_G6/dist/assets/index-99171bbd.css
  frontend/PI_G6/dist/index.html
Due: BuildAndDeployFront

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  BuildAndDeployBack: any of: back/**/*
  BuildAndDeployFront: any of: frontend/**/*
