Repository florencialecha/digital-booking-software-backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: BuildAndDeployBack, BuildAndDeployFront

.gitlab-ci.yml:

stages:
  - build
  - notify

BuildAndDeployBack:
  stage: build 
  script:
    - cd back
    - sudo systemctl stop ApiBack.service
    - if [ -d ./back_jar ]; then sudo rm -rf ./back_jar; fi


    - sudo mvn clean package
    - sudo mkdir -p back_jar

    - sudo cp target/back-0.0.1-SNAPSHOT.jar back_jar/back.jar
    - sudo chmod ugo+rwx back_jar/back.jar
    - sudo chmod 777 ./back_jar
    - sudo systemctl restart ApiBack.service
    - if [ -d "target/" ]; then sudo rm -rf target/; fi



  rules:
   - if: '$CI_COMMIT_BRANCH == "development"'
     changes:
        - back/**/*

  tags:
    - back

BuildAndDeployFront:
  stage: build 
  script:

    - cd frontend/PI_G6
    - sudo chmod -R 777 node_modules/
    - sudo chmod ugo+rwx node_modules/
    - sudo rm -rf node_modules
    - sudo rm -rf dist
    - sudo npm ci
    - sudo npm run build
    - sudo aws s3 sync dist/ s3://digital-booking-6 --delete

  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'
      changes:
        - frontend/**/*
  tags:
    - front

NotifyOnRootChanges:
  stage: notify
  script:
    - echo "Changes detected in the root folder, but not in the back or frontend folders!"
  rules:
    - exists:
        - "*"
      changes:
        - back/**/*
        - frontend/**/*
      when: never
    - exists:
        - "*"
      when: always
  tags:
    - notify

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update TestingCiCd.txt
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

Test cicd back
  testeandoCiCd.txt
Due: none

Update testingIntegracionContinua
  back/testingIntegracionContinua
Due: BuildAndDeployBack

Testeando cicd #6
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

Testeando cicd #7
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

pusheo actualizando los llamado del usuario
  frontend/PI_G6/src/components/header/Header.jsx
Due: BuildAndDeployFront

actualizo librerias
  frontend/PI_G6/package-lock.json
  frontend/PI_G6/package.json
Due: BuildAndDeployFront

Update frontend/PI_G6/TestingCiCd.txt
  frontend/PI_G6/TestingCiCd.txt
Due: BuildAndDeployFront

actualizamos las librerias utilizadas
  frontend/PI_G6/package-lock.json
  frontend/PI_G6/package.json
Due: BuildAndDeployFront

probando build del back
  back/src/main/java/com/digitalbooking/back/management/categories/controller/CreateCategoryPostController.java
Due: BuildAndDeployBack

Update back/testingIntegracionContinua
  back/testingIntegracionContinua
Due: BuildAndDeployBack

Añadí nueva configuración del cors
  back/src/main/java/com/digitalbooking/back/management/security/auth/AuthenticationController.java
  back/src/main/java/com/digitalbooking/back/management/security/config/SecurityConfig.java
Due: BuildAndDeployBack
